@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Murberry";
  src: url("/fonts/murberry-font/Murberry-rgxnp.woff2") format("woff2"),
       url("/fonts/murberry-font/Murberry-rgxnp.ttf") format("truetype"),
       url("/fonts/murberry-font/Murberry-YzE2a.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Murberry", sans-serif;
}
